<div data-controller="list">
  <div class="list-buttons columns">
    <div class="column">
      <%= link_to new_product_sold_path, class: 'button is-primary' do %>
        Novo
      <% end %>
    </div>
    <div class="column mass-actions" data-list-target="massActionsContainer">
      <button data-action="click->list#destroySelected" data-destroy-url="<%= product_sold_url(id: ':id:') %>.json" class="button is-danger">
        Excluir
      </button>
    </div>
  </div>

  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>&nbsp;</th>
              <th>Sale</th>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
    </thead>
    <tbody>
    <% @product_solds.each do |product_sold| %>
      <tr data-list-target="items" data-edit-url="<%= edit_product_sold_url(product_sold) %>">
        <td class="item-check">
          <input type="checkbox" value="<%= product_sold.id %>" data-action="change->list#itemSelect">
        </td>
              <td class="clickable" data-action="click->list#edit">
      <%= product_sold.sale %>
        </td>
                <td class="clickable" data-action="click->list#edit">
      <%= product_sold.product %>
        </td>
                <td class="clickable" data-action="click->list#edit">
      <%= product_sold.quantity %>
        </td>
              </tr>
    <% end %>
    </tbody>
  </table>
<div>

<%= will_paginate @product_solds %>
