<%# render AutoCompleteComponent.new(:product, :ncm_id, load_from: search_ncms_path) %>
<%# render AutoCompleteComponent.new(:product, :ncm_id, load_from: search_ncms_path, query_context: { ncm_id: 112 }) %>
<%# render AutoCompleteComponent.new(:product, :ncm_id, 1250, "Bruno Frank", load_from: search_ncms_path) %>

<div data-controller="dashboard" data-dashboard-invoicing-value="<%= Profit.setInvoicing(@month) %>"
                                 data-dashboard-cost-value="<%= Profit.setCost(@month) %>"
                                 data-dashboard-collaborators-ranking-value="<%= Profit.setCollaboratorsRanking(@month).to_json %>"
                                 data-dashboard-product-sales-ranking-value="<%= Profit.setProductSalesRanking(@month).to_json %>"
                                 data-dashboard-selected-month-value="<%= I18n.t("months." + @month.to_s ) if @month.present? %>">

  <%= render partial: 'month_filter' %>

  <hr />

  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Faturamento&nbsp;(R$)</h2>
        <h1 class="title is-1 has-text-weight-bold has-text-centered">
          <%= number_to_currency(Profit.setInvoicing(@month).round(2), currency: "R$", separator: ",", thousands: ".") %>
        </h1>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <% if @items != 0 %>
          <h2 class="title is-5">Itens Vendidos&nbsp;(Unid)</h2>
          <h1 class="title is-1 has-text-weight-bold has-text-centered">
            <%= @items %>
          </h1>
        <% elsif Profit.setCollaboratorsSales(@month) != 0 %>
          <h2 class="title is-5">Taxa de Crescimento&nbsp;(%)</h2>
          <h1 class="title is-1 has-text-weight-bold has-text-centered">
            <%= number_to_currency(Profit.setRateOfGrowth(@month), unit: '', separator: ',') + '%' %>
            &nbsp;
            <span class="icon is-small">
              <% if Profit.setRateOfGrowth(@month).present? && Profit.setRateOfGrowth(@month).negative? %>
                <i class="fas fa-arrow-down"></i>
              <% else %>
                <i class="fas fa-arrow-up"></i>
              <% end %>
            </span>
          </h1>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <% if Profit.setCollaboratorsSales(@month) == 0 %>
          <% if Profit.setRateOfGrowth(@month) != 0 %>
            <h2 class="title is-5">Taxa de Crescimento&nbsp;(%)</h2>
            <h1 class="title is-1 has-text-weight-bold has-text-centered">
              <%= number_to_currency(Profit.setRateOfGrowth(@month), unit: '', separator: ',') + '%' %>
              &nbsp;
              <span class="icon is-small">
                <% if Profit.setRateOfGrowth(@month).present? && Profit.setRateOfGrowth(@month).negative? %>
                  <i class="fas fa-arrow-down"></i>
                <% else %>
                  <i class="fas fa-arrow-up"></i>
                <% end %>
              </span>
            </h1>
          <% else %>
            <h2 class="title is-5">Lucro&nbsp;(R$)</h2>
            <h1 class="title is-1 has-text-weight-bold has-text-centered">
              <%= number_to_currency(Profit.setProfit(@month), unit: 'R$', separator: ',', thousands: '.') %>
            </h1>
          <% end%>
        <% else %>
          <h2 class="title is-5">Vendas para Colaboradores</h2>
          <h1 class="title is-1 has-text-weight-bold has-text-centered">
            <%= number_to_currency(Profit.setCollaboratorsSales(@month).round(2), currency: "R$", separator: ",", thousands: ".") %>
          </h1>
        <% end %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Faturamento x Gastos (R$)</h2>
        <canvas id="invoicing-vs-cost-chart"></canvas>
        <h2 class="invoicing-vs-cost-no-data has-text-centered is-hidden">
          Não há dados suficientes.
        </h2>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <% if Profit.setCollaboratorsRanking(@month).present? %>
          <h2 class="title is-5">Melhores Colaboradores (R$)</h2>
          <canvas id="collaborators-ranking-chart"></canvas>
        <% else %>
          <h2 class="title is-5">Produtos Mais Vendidos (unid)</h2>
          <canvas id="product-sales-ranking-chart"></canvas>
          <h2 class="sales-ranking-no-data has-text-centered is-hidden">
            Não há dados suficientes.
          </h2>
        <% end %>
      </div>
    </div>
  </div>
</div>
