<%# render AutoCompleteComponent.new(:product, :ncm_id, load_from: search_ncms_path) %>
<%# render AutoCompleteComponent.new(:product, :ncm_id, load_from: search_ncms_path, query_context: { ncm_id: 112 }) %>
<%# render AutoCompleteComponent.new(:product, :ncm_id, 1250, "Bruno Frank", load_from: search_ncms_path) %>

<div data-controller="dashboard" data-dashboard-invoicing-value="<%= Profit.setInvoicing(@month) %>"
                                 data-dashboard-cost-value="<%= Profit.setCost(@month) %>"
                                 data-dashboard-collaborators-ranking-value="<%= Profit.setCollaboratorsRanking(@month).to_json %>"
                                 data-dashboard-product-sales-ranking-value="<%= Profit.setProductSalesRanking(@month).to_json %>"
                                 data-dashboard-selected-month-value="<%= I18n.t("months." + @month.to_s ) if @month.present? %>"
                                 data-dashboard-selected-collaborator-value="<%= @collaborator %>">

  <div class="dropdown" id="dropdown-filter" data-action="click->dashboard#activeMonthDropdown" data-dashboard-target="dropdownFilterMonth">
    <div class="dropdown-trigger">
      <button class="button is-medium" id="month" aria-haspopup="true" aria-controls="dropdown-menu">
        <span id="selected-month"><%= I18n.t("months." + @month.to_s) if @month.present? %></span>
        <span class="icon is-small" id="month">
          <i class="fas fa-angle-down" id="month" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <% Profit.setMonths.each do |month| %>
          <a class="dropdown-item" data-action="click->dashboard#dropdownMonthFilter"><%= I18n.t("months." + month.downcase) %></a>
        <% end %>
      </div>
    </div>
  </div>

  <hr />

  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Faturamento</h2>
        <h1 class="title is-1 has-text-weight-bold has-text-centered">
          <%= number_to_currency(Profit.setProfit(@month).round(2), currency: "R$", separator: ",", thousands: ".") %>
        </h1>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Itens Vendidos</h2>
        <h1 class="title is-1 has-text-weight-bold has-text-centered">
          <% itens = 0 %>
          <% Profit.setSales(@month).values.each do |sales| %>
            <% itens += sales.to_i %>
          <% end %>
          <%= itens %>
        </h1>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Vendas com Colaboradores</h2>
        <h1 class="title is-1 has-text-weight-bold has-text-centered">
          <%= number_to_currency(Profit.setCollaboratorsSales(@month).round(2), currency: "R$", separator: ",", thousands: ".") %>
        </h1>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title is-5">Faturamento x Gastos (R$)</h2>
        <canvas id="invoicing-vs-cost-chart"></canvas>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <% if Collaborator.last.present? && Collaborator.last.sales.present? %>
          <h2 class="title is-5">Melhores Colaboradores (R$)</h2>
          <canvas id="collaborators-ranking-chart"></canvas>
        <% else %>
          <h2 class="title is-5">Produtos Mais Vendidos (unid)</h2>
          <canvas id="product-sales-ranking-chart"></canvas>
        <% end %>
      </div>
    </div>
  </div>
</div>
