<div data-controller="traders">
  <%= simple_form_for(@trader) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs columns">
      <div class="column is-one-fifth">
        <%= f.input :person_type, collection: enum_options_for_select(Trader, :person_type),
                                  default: 0,
                                  input_html: { data: { target: 'traders.personType' } } %>
      </div>
      <div class="column">
        <%= f.input :name %>
      </div>
      <div class="column is-one-third">
        <%= f.input :profiles, collection: available_profiles, default: :customer, input_html: { multiple: true, data: { searchable: true } } %>
      </div>
    </div>

    <div class="form-inputs columns natural-person-fields">
      <div class="column is-one-fifth">
        <%= f.input :gender, collection: available_genders %>
      </div>
      <div class="column is-one-fifth">
        <%= f.input :birth_date, as: :string, input_html: { data: { mask: 'date' } } %>
      </div>
    </div>

    <div class="form-inputs columns legal-person-fields">
      <div class="column">
        <%= f.input :legal_name %>
      </div>
    </div>

    <div class="form-inputs columns">
      <div class="column is-one-fifth">
        <%= f.input :federal_tax_id, input_html: { data: { mask: 'cpf' } } %>
      </div>
      <div class="column is-one-fifth">
        <%= f.input :state_tax_id %>
      </div>
      <div class="column is-one-fifth legal-person-fields">
        <%= f.input :municipal_tax_id %>
      </div>
    </div>

    <div class="form-inputs columns">
      <div class="column is-one-quarter">
        <%= f.input :phone, input_html: { data: { mask: 'phone' } } %>
      </div>
      <div class="column is-one-quarter">
        <%= f.input :mobile, input_html: { data: { mask: 'phone' } } %>
      </div>
      <div class="column is-one-quarter">
        <%= f.input :email %>
      </div>
    </div>

    <h3 class="title">
      Endereço
    </h3>

    <%= render partial: 'addresses/address_form', locals: { f: f, geo: false } %>

    <div class="form-actions">
      <%= f.button :submit, 'Salvar' %>
      <%= link_to 'Cancelar', traders_path %>
    </div>
  <% end %>
</div>
