<div data-controller="list">
  <div class="list-buttons columns">
    <div class="column">
      <%= link_to new_bank_path, class: 'button is-primary' do %>
        Novo
      <% end %>
    </div>
    <div class="column mass-actions" data-target="list.massActionsContainer">
      <button data-action="click->list#destroySelected" data-destroy-url="<%= bank_url(id: ':id:') %>.json" class="button is-danger">
        Excluir
      </button>
    </div>
  </div>

  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Código</th>
        <th>Nome</th>
        <th>ISPB</th>
      </tr>
    </thead>
    <tbody>
      <% @banks.each do |bank| %>
        <tr data-target="list.items">
          <td class="item-check">
            <input type="checkbox" value="<%= bank.id %>" data-action="change->list#itemSelect">
          </td>
          <td>
            <%= bank.code %>
          </td>
          <td class="clickable" data-action="click->list#edit" data-edit-url="<%= edit_bank_url(bank) %>">
            <%= bank.name %>
          </td>
          <td>
            <%= bank.ispb_code %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

<%= will_paginate @banks %>
