<div data-controller="list">
  <div class="list-buttons columns">
    <div class="column">
      <%= link_to new_state_path, class: 'button is-primary' do %>
        Novo
      <% end %>
    </div>
    <div class="column mass-actions" data-target="list.massActionsContainer">
      <button data-action="click->list#destroySelected" data-destroy-url="<%= state_url(id: ':id:') %>.json" class="button is-danger">
        Excluir
      </button>
    </div>
  </div>

  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Nome</th>
        <th>UF</th>
        <th>Código IBGE</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
      <% @states.each do |state| %>
        <tr data-target="list.items">
          <td class="item-check">
            <input type="checkbox" value="<%= state.id %>" data-action="change->list#itemSelect">
          </td>
          <td class="clickable" data-action="click->list#edit" data-edit-url="<%= edit_state_url(state) %>">
            <%= state.name %>
          </td>
          <td>
            <%= state.uf %>
          </td>
          <td>
            <%= state.ibge_code %>
          </td>
          <td class="clickable" data-action="click->list#edit" data-edit-url="<%= edit_country_url(state.country) %>">
            <%= state.country.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

<%= will_paginate @states %>
