<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collaborator.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @collaborator.type %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@collaborator) %> |
<%= link_to 'Back', collaborators_path %>
