<div data-controller="list">
  <div class="list-buttons columns">
    <div class="column">
      <%= link_to new_employee_absence_path, class: 'button is-primary' do %>
        Novo
      <% end %>
    </div>
    <div class="column mass-actions" data-list-target="massActionsContainer">
      <button data-action="click->list#destroySelected" data-destroy-url="<%= employee_absence_url(id: ':id:') %>.json" class="button is-danger">
        Excluir
      </button>
    </div>
  </div>

  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>&nbsp;</th>
              <th>Employee</th>
              <th>Date</th>
              <th>Reason</th>
            </tr>
    </thead>
    <tbody>
    <% @employee_absences.each do |employee_absence| %>
      <tr data-list-target="items" data-edit-url="<%= edit_employee_absence_url(employee_absence) %>">
        <td class="item-check">
          <input type="checkbox" value="<%= employee_absence.id %>" data-action="change->list#itemSelect">
        </td>
              <td class="clickable" data-action="click->list#edit">
      <%= employee_absence.employee %>
        </td>
                <td class="clickable" data-action="click->list#edit">
      <%= employee_absence.date %>
        </td>
                <td class="clickable" data-action="click->list#edit">
      <%= employee_absence.reason %>
        </td>
              </tr>
    <% end %>
    </tbody>
  </table>
<div>

<%= will_paginate @employee_absences %>
