<p id="notice"><%= notice %></p>

<p>
  <strong>Trade name:</strong>
  <%= @company.trade_name %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @company.legal_name %>
</p>

<p>
  <strong>Federal tax:</strong>
  <%= @company.federal_tax_id %>
</p>

<p>
  <strong>State tax:</strong>
  <%= @company.state_tax_id %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
