<div>
  <%= simple_form_for(@fabrication) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs columns">
      <div class="column is-one-third">
        <%= f.association :product %>
      </div>
      <div class="column is-one-third">
        <%= f.input :quantity %>
      </div>
      <div class="column is-one-third">
        <% date_f = Date.current if !f.object.date.present? %>
        <%= f.input :date, as: :date, html5: true, input_html: { required: true, value: date_f } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Salvar' %>
      <%= link_to 'Cancelar', fabrications_path %>
    </div>
  <% end %>
</div>
