<%= f.fields_for :address do |address| %>
  <%= address.input :addressable_id, as: :hidden %>
  <%= address.input :addressable_type, as: :hidden %>

  <div class="address" data-controller="address">
    <div class="columns">
      <div class="column is-one-fifth">
        <%= address.input :zip, input_html: { class: 'cep', data: { target: 'address.zip', action: 'blur->address#getAddressByCep', mask: 'zip' } } %>
      </div>
      <div class="column">
        <%= address.input :address, input_html: { data: { target: 'address.address' } } %>
      </div>
      <div class="column is-one-fifth">
        <%= address.input :number %>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <%= address.input :more %>
      </div>
      <div class="column">
        <%= address.input :district, input_html: { data: { target: 'address.district' } } %>
      </div>

      <div class="column is-one-fifth">
        <%= address.input :state_id, collection: states, input_html: { data: { target: 'address.state', action: 'change->address#fetchCities' } } %>
      </div>
      <div class="column is-one-fifth">
        <%= address.input :city_id, collection: (City.where(state_id: f.object.address.state_id) rescue []), input_html: { data: { target: 'address.city' } } %>
      </div>
    </div>
  </div>
<% end %>