<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs columns">
    <div class="column">
      <%= f.input :name %>
    </div>
    <div class="column">
      <%= f.association :product_category %>
    </div>
    <div class="column">
      <%= f.input :price, as: :string, placeholder: 'R$ 0,00', input_html: { data: { mask: 'money' } } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar' %>
    <%= link_to 'Cancelar', products_path %>
  </div>
<% end %>
