<div data-controller="list">
  <div class="list-buttons columns">
    <div class="column">
      <%= link_to new_product_path, class: 'button is-primary' do %>
        Novo
      <% end %>
    </div>
    <div class="column mass-actions" data-list-target="massActionsContainer">
      <button data-action="click->list#destroySelected" data-destroy-url="<%= product_url(id: ':id:') %>.json" class="button is-danger">
        Excluir
      </button>
    </div>
  </div>

  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>&nbsp;</th>
              <th>Nome</th>
              <th>Categoria</th>
              <th>Preço</th>
            </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr data-list-target="items" data-edit-url="<%= edit_product_url(product) %>">
        <td class="item-check">
          <input type="checkbox" value="<%= product.id %>" data-action="change->list#itemSelect">
        </td>
        <td class="clickable" data-action="click->list#edit">
          <%= product.name %>
        </td>
        <td class="clickable" data-action="click->list#edit">
          <%= product.product_category.name %>
        </td>
        <td class="clickable" data-action="click->list#edit">
          <%= number_to_currency(product.price, separator: ',', unit: 'R$') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<div>

<%= will_paginate @products %>
